body {
	background-color: #aae6ff;
	text-align: center;
}

.navbar {
	height: 80px;
	background-color: #2e75b6;
}

.navbar a {
	font-size: 24px;
	font-weight: 600;
}

a {
	color: #f1f9f9;
}

a:hover {
	color: #f0f0f0;
}

input {
	width: 250px;
	padding: 5px 3px;
	border: none;
}

select {
	width: 250px;
	padding: 5px 3px;
	border: none;
}
